<%- include('../../libs/html/util-m/header', {
title: 'demo',
description: 'demo',
keywords: 'demo',
plugin: [''],
private: ['../css/index.css']
}) %>
<%- include('public/header') %>
<div class="content">
   <%- include('index/page1.ejs') %>
</div>


<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/index.js'],
statistics: ['']
}) %>