/**
 * Author：zhoushuanglong
 * Time：2017-08-29 19:30
 * Description：index
 */
@import "../../libs/scss/util-m";
@import "public/header";
@import "index/page1.scss";

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
}
